fieldset {
    width: 350px;
}

#dialogueDiv{
    text-align: center;
}

#dialogue{
    margin-top: 10px;
    color: #555;
    /* opacity: .8; */
    /* font-size: 12px; */
}
#recoverBtn{
    /* margin-bottom: 20px; */
    margin: 0px;
}
#bar{
    /* margin: 20px; */
    margin-top: 20px;
}