/* *{
    text-align: center;
} */

/* form{
    position: relative;
    background-color: black;
    text-align: center;
    margin: 200px;
} */

.box{
    /* background-color: black; */
    text-align: center;
    width: 30%;

}
table{
    /* text-align: center; */
    /* background-color: black; */
}

/* #mainDiv{
    background-color: black;
} */
